﻿@model Results
@{
    ViewData["Title"] = "Uploaded Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <div class="rowspace"></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4">Upload Results</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                @if (Model.ResultStatus == true)
                {
                    <h4 style="color: green !important">@Model.ResultMessage</h4>
                }
                else if (Model.ResultStatus == false)
                {
                    <h4 style="color: red !important">@Model.ResultMessage</h4>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-primary buttonspace" })
            </div>
        </div>
    </div>   