﻿
@{
    ViewData["Title"] = "Upload Entire XML File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row spacing">
        <div class="col-md-3">
            @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-info buttonspace" })
        </div>
    </div>
</div>

<form asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row spacing">
            <div class="col-md-12">
                <h1>Upload Entire XML File</h1>
                <p>Please be mindful that uploading the entire XML file might take some time.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload xml file using this form:</p>
                    <input type="file" name="file" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload File" class="btn btn-primary" id="btnUpload" onclick="this.disabled=true;this.form.submit()" />
                </div>
            </div>
        </div>
    </div>
</form>
