﻿
@{
    ViewData["Title"] = "CAHPSResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row spacing">
        <div class="col-md-12">
            <h1>CAHPS Results</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="searchbox" class="form-control input adaptive" placeholder="Search Results by Survey Id, Client Id, or IT Account No" />
        </div>
    </div>
    <div class="row spacing">
        <div class="col-md-12">
            <table id="cahpsResults" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Survey ID</th>
                        <th>Client ID</th>
                        <th>Service</th>
                        <th>RecDate</th>
                        <th>DisDate</th>
                        <th>VarName</th>
                        <th>Value</th>
                        <th>IT Account No</th>
                        <th>QM Service</th>
                        <th>QM Varname</th>
                        <th>QM Question</th>
                        <th>QM Section</th>
                        <th>QM Standard</th>
                        <th>QM Screening</th>
                        <th>QM Top Box Scale</th>
                        <th>QM Top Box Answer</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/CAHPSResults.js" asp-append-version="true"></script>
}