﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="rowspace"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Welcome to the PressGaney XML Upload</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.ActionLink("Upload the Entire XML File", "UploadXML", "Upload", null, new { @class = "btn btn-primary buttonspace" })
        </div>
        <div class="col-md-12 text-center">
            @Html.ActionLink("Upload Questions from XML File", "UploadQuestionsXML", "Upload", null, new { @class = "btn btn-primary buttonspace" })
        </div>
        <div class="col-md-12 text-center">
            @Html.ActionLink("Upload CAHPS from XML File", "UploadCAHPSXML", "Upload", null, new { @class = "btn btn-primary buttonspace" })
        </div>
        <div class="col-md-12 text-center">
            @Html.ActionLink("Upload Demographics from XML File", "UploadDemographicsXML", "Upload", null, new { @class = "btn btn-primary buttonspace" })
        </div>
    </div>
</div>   